* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #0b132b;
}

#header {
  padding: 1rem 1.5rem;
  background: #3a506b;
  color: #0b132b;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100vw;
}

.sticky + main {
  padding-top: 102px;
}

ul {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  list-style-type: none;
}

li {
  padding: 8px;
  border: 1px solid #f1faee;
  border-radius: 8px;
  box-shadow: 0px 3px 5px rgba(255, 255, 255, 0.3);
}

li:hover {
  background-color: darkgray;
  transform: scale(1.2);
  transition: transform 400ms;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
  color: #f1faee;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

figure {
  margin: 2rem;
  border: 3px solid white;
  background-color: #555;
  color: white;
}
figcaption {
  text-align: center;
  background-color: #3a506b;
  color: #0b132b;
}

img {
  max-width: 600px;
  height: auto;
}

img:hover {
  transform: scale(1.3);
  transition: transform 400ms;
}

div {
  border: 3px solid white;
  border-radius: 20px;
  padding: 1rem;
  margin: 1.5rem;
  background-color: #3a506b;
}

h2 {
  text-decoration: underline;
  text-align: center;
}

.par {
  color: #1c2541;
}

#form {
  color: aliceblue;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contactbod {
  background-color: #1c2541;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}

input {
  width: 100%;
}

#name {
  border: 2px solid #3a506b;
}

#email {
  border: 2px solid #3a506b;
}

#message {
  height: 10rem;
  border-radius: 10px;
}

#contact {
  color: aliceblue;
}

#submit {
  margin: 1rem;
}

#success {
  background-color: #3a506b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#headsuccess {
  color: #1c2541 !important;
}