* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  padding: 1rem;
  width: 100%;
  min-height: 100vh;
}

#header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

ul {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    margin: 0;
    list-style-type: none;
}

li {
    padding: 8px;
    border: 1px solid #f1faee;
    border-radius: 8px;
    box-shadow: 0px 3px 5px rgba(255, 255, 255, 0.3);
}

li:hover {
    background-color:darkgray;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
    color: #f1faee;
}